@import 'variables';
@import 'mixins';
@import 'responsive/mixins';
@import 'responsive/breakpoints';
@import '~artifex-core/styles/functions';
@import '~artifex-core/styles/variables';
@import '~artifex-core/styles/mixins';
@import '~artifex-core/styles/reset';
@import '~artifex-core/styles/components/buttons';
@import '~artifex-core/styles/components/forms';
@import '~artifex-core/styles/components/typography';

body {
    background: red;
    color: blue;
}

body {
    font-size: 2rem;
}
