code,
kbd,
samp {
    @include font($codeFont, $codeFontSize);

    background-color: $codeBackground;
    border-radius: $defaultRadius;
    border: if($codeBorderColor, 1px solid $codeBorderColor, none);
    color: $codeColor;
    line-height: $codeLineHeight;
    padding: $codePaddingVertical $codePaddingHorizontal;
}

code {
    a > & {
        color: inherit;
    }
}

pre {
    background-color: $codeBlockBackground;
    border: 1px solid $codeBlockBorderColor;
    border-radius: $defaultRadius;
    margin-bottom: $codeBlockMarginBottom;
    tab-size: $codeBlockTabSize;

    code {
        @include font($codeBlockFont, $codeBlockFontSize);

        background: transparent;
        border-radius: if($codeRounded, $codeRounded, null);
        border: if($codeBorderColor == false, none, null);
        color: $codeBlockColor;
        padding: $codeBlockPaddingVertical $codeBlockPaddingHorizontal;

        @if ($codeBlockWrap == true) {
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        @if ($codeBlockWrap == false) {
            overflow: auto;
            white-space: pre;
        }
    }
}
