.container {
    @if ($padContainer == true and $bumperPadding != false) {
        padding-left: $bumperPadding;
        padding-right: $bumperPadding;
    }

    box-sizing: content-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: if($maxWidth != false, $maxWidth, null);
    min-width: if($minWidth != false, $minWidth, null);
}

.js-hide {
    display: none !important;
}

.#{$imageLeftClass} {
    float: left;
    margin-top: .32em;
    margin-right: $imageMarginSide;
    margin-bottom: $imageMarginBottom;
}

.#{$imageRightClass} {
    float: right;
    margin-top: .32em;
    margin-bottom: $imageMarginBottom;
    margin-left: $imageMarginSide;
}
